{% extends 'base.html' %}

{% block main %}
<h1 class="greeting">Hello world!</h1>
<h2>All time visits: {{ count_of_all_visits }}</h2>
<h2>Unique visits by ip: {{ count_of_visits_by_ip }}</h2>
<h2>Users registered: {{count_of_auth}}<h2>

<form action="/view_info">
    <input type="submit" class="btn-submit" value="View Info of visitors" />
</form>
<form action="/login">
    <input type="submit" class="btn-submit" value="Log in" />
</form>
<form action="/signup">
    <input type="submit" class="btn-submit" value="Sign up" />
</form>
{% endblock %}