{% extends 'base.html' %}

{% block main %}
{% from '/includes/_formhelpers.html' import render_field %}
<form action="" method="post" novalidate>
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label}} <br>
        {{ form.username(class="login-form") }}<br>
    </p>
    <p>
        {{ form.password.label}} <br>
        {{ form.password(type="password") }}<br>
    </p>
    <p>
        {{ form.re_password.label }} <br>
        {{ form.re_password(type="password") }}<br>
    </p>
    <p>
        {{ form.submit(class="btn-submit")}} <br>
    </p>
</form>
{% endblock %}